:root {
    --main-color: rgb(196, 178, 137);
    --secondary-color: rgb(138, 134, 93);
    --front-color: rgb(45, 45, 43);
    --link-color: rgb(45, 45, 43);
    --gap: 15px;
    }

body, h1, h2, p{
    margin: 0px;
}

ul{
    padding: 0px;
    list-style: none;
}

a{
    color:var(--link-color);
    text-decoration: none;
     transition: 0.3s;
}

a:hover, a:focus, a:active{
    opacity: 0.7;
}

html {
    background-color: var(--secondary-color);
    color: var(--front-color);
}
body, .avatar1 {
    margin: 0 auto;
}

.avatar1, header, main, h1, .description, .links {
    margin-bottom: var(--gap);
}

body {
    display: flex;
    flex-direction: column;
    width: 290px;
    min-height: calc(100vh - var(--gap)*2);
    background-color: var(--main-color);
    padding: var(--gap);
}

header{
    position: relative;
}

footer{
    margin-top: auto;
}

.language{
    position: absolute;
    top: 0;
    right: 0;
    }
    
.avatar1 {
    --avatar-size: 150px;
    display: block;
    height: var(--avatar-size);
    width: var(--avatar-size);
    object-fit: cover;
    border: 2px solid var(--link-color);
    border-radius: 50%;
    margin-bottom: var(--gap);
}

.nickname, h1, .description, footer{
    display: block;
    text-align: center;  
}

.nickname{
font-size: 20px;
}

h1{
    font-size: 26px;
}

.links{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.links img{
    --link-size: 30px;
    height: var(--link-size);
    width: var(--link-size);
}

.large-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    padding-bottom: 1px;
    border: 2px solid var(--link-color);
    background-color: antiquewhite;
    border-radius: 35px;
    font-size: 16px;
    font-weight: bold;

}

@media screen and (min-width: 440px) {
    body {
        width: 410px;
    }
}

@media screen and (min-width: 530px) {
    body {
        width: 500px;
    }

.avatar{
    --avatar-size: 200px;

    height: var(--avatar-size);
    width: var(--avatar-size);
}

    h1{
        font-size: 32px;
    }

    .nickname{
        font-size: 26px;

    }
}

.links img{
    --link-size: 35px;
    height: var(--link-size);
    width: var(--link-size);   
}

.large-button{
    height: 50px;
    font-size: 20px;
}

.text{
    font-size: 18px;
}